@tailwind base;
@tailwind components;
@tailwind utilities;



#login-container {
  background-image: url('/src/Assets/pexels-nappy-935985.jpg');
  background-size: cover; /* scale the image to cover the entire container */
  background-position: center; /* center the image within the container */
}


#signup-container {
  background: linear-gradient(to right bottom, #0a8c7f, #1ca0a7, #4fb3c4, #8fc4d7, #cfead4, #d2f0e4, #d6f7f7);
  background-size: cover; /* scale the background to cover the entire container */
  background-position: center; /* center the background within the container */
  animation: background-animation 20s ease infinite alternate;
}

@keyframes background-animation {
  0% { background-position: 0 0; }
  100% { background-position: 100% 100%; }
}






@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.heartbeat {
  animation-name: heartbeat;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}


.signup {
  background: rgba(255, 255, 255, 0.8); /* set the background color with transparency */
  backdrop-filter: blur(10px); /* apply a blur effect */
}

/* @media screen and (min-width: 1440) {
  :root {
    font-size: 1.2rem;
  }
}

:root {
--primary-color: rgb(14, 42, 71);
--secondary-color: rgb(231, 54, 53);

}

* {
box-sizing: border-box;
padding: 0;
margin: 0;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container, .vertical-container {
display: flex;
justify-content: space-between;
width: calc(min(60rem, 80%));
margin: auto;
align-items: center;
}

.vertical-container {
flex-direction: column;
}

.btn {
border: rgba(255, 255, 255, 0.5);
outline: none;
background-color: var(--secondary-color);
color: white;
font-size: 1rem;
padding: 0.5rem 1rem 0.5rem 1rem;
text-align: center;
border-radius: 1rem;
cursor: pointer;
min-width: 6rem;
}

.btn:hover {
opacity: 0.8;
}

.display-none {
display: none;
} */